<link rel="stylesheet" type="text/css" href="https://slavecolony.hopto.org/gallery.css">
<div class="m-p-g" style="display: flex; flex-wrap: wrap;">
    <!-- <div class="m-p-g__thumbs" style="max-width: 20vw;" data-google-image-layout data-max-height="350">
        --!>{% for image in images %}
            <img style="max-width: 18vw; min-wdith: 5vw;" src="{{ image }}" onclick="window.open(this.src)" class="m-p-g__thumbs-img m-p-g__thumbs" />
        {% endfor %}
        <!-- </div> --!>

    <div class="m-p-g__fullscreen"></div>
</div>

